footer ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    font-size: 2vw;
    list-style: none;
}

header{
    text-align: center;
    text-shadow: 2px 2px rgb(200, 207, 214);
    font-size: 1.5vw;
}

h2{
    text-align: center;
    text-shadow: 2px 2px rgb(135, 137, 138);
}

main{
    background-image: url('nikola_tesla.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 10%;
    opacity: 0.9;
}

nav > ul{
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
    list-style: none;
    margin: 0;
    padding: 5px 5px;
    background-color: lightgrey;
}

p{
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    line-height: 2em;
    font-size: 1.25vw;
    text-align: justify;
}

.aboutMe{
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 3px;  
}

.aboutVolt{
    float: left;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-right: 10px;
    border: solid black 1px;
    padding: 3px;
}

.cta-btn-choose {
    align-items: center;
    background: rgb(221, 216, 216);
    border-radius: 5%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.cta-btn-choose:focus,
.cta-btn-choose:hover {
    background-color: rgb(253, 249, 13);
    transition: 0.25s;
    transform:  translateY(-3px);
}

.cta-div-learn{
    display: flex;
    justify-content: center;
}

.cta-div-home{
    display: flex;
    justify-content: space-around;  
}

.column{
    float: left;
    margin-left: 5px;
    width: 32.4vw;
    border: 2px solid black;
}

.hevDetailPrius{
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 3px;  
}

.hevDetailFusion{
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 3px;  
}

.learnPrius{
    width: 100%;
    height: auto;
}

.learnInsight{
    width: 100%;
    height: auto;
}

.learnVolt{
    width: 100%;
    height: auto;
}

.learnPacifica{
    width: 100%;
    height: auto;
}

.learnLeaf{
    width: 100%;
    height: auto;
}

.learnModelS{
    width: 100%;
    height: auto;
}

.home {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 3px;    
}

.row:after{
    content: "";
    display: table;
    clear:  both;
}