header{
    text-align: center;
    text-shadow: 2px 2px rgb(200, 207, 214);
}

main{
    background-image: url('nikola_tesla.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    opacity: 0.4;
}

p{
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    line-height: 2em;
}