footer ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    font-size: 2vw;
    list-style: none;
}

header{
    text-align: center;
    text-shadow: 2px 2px rgb(200, 207, 214);
    font-size: 1.5vw;
}

main{
    background-image: url('nikola_tesla.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 10%;
    opacity: 0.4;
}

nav > ul{
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
    list-style: none;
    margin: 0;
    padding: 5px 5px;
    background-color: lightgrey;
}

p{
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    line-height: 2em;
    font-size: 1.25vw;
}